.sign-in-component{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;

  form {
    input {
      outline: none;
      text-align: center;
      padding: 5px;
      background: none;
      border: $color-primary solid 1px;
      border-radius: 5px;
      margin-bottom: 5px;
    }
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.sign-in-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.phone-form, .email-pass-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    width: 50%;
  }
}
.sign_in_option {
  cursor: pointer;
}

.sign_in_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
