footer {
  background-color:$color-text;
  padding:0;

  ul{
    list-style:none;
    font-size:1.25em;
    margin:0;
    padding:.5em 1em .5em 1em;
  }
}

a {
  color:$color-background-secondary;

  &:hover, &:active, &:focus {
    color:darken($color-background-secondary, 50%);
    text-decoration:none;
  }

}

