footer {
  background-color:$color-text;

  ul{
    list-style:none;
    font-size:1.25em;
  }
}

a {
  color:$color-background-secondary;

  &:hover, &:active, &:focus {
    color:darken($color-background-secondary, 50%);
  }

}

