.comments-component {

  #CommentForm {
    padding-bottom: 20px;

    .controls {
      width: 100%;
      padding-top: 20px;
      padding-right: 50px;
      display: flex;
      justify-content: flex-end;
    }

    .comment-input {
      margin: auto;
      width: 80%;
      padding: 10px;
      min-height: 100px;
      border: $color-input-border 2px solid;
      border-radius: 1em;
    }
  }

  .comment-component {
    margin-bottom: 6px;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.4);
    background: $color-background-secondary;
    .comment_meta {
      padding: 10px 5px 0 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #9daaa5;

      .comment_share {
        cursor: pointer;
        color: $Link;
      }
    }

    .comment_avatar {
      position: relative;
      padding: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      border: gainsboro 1px solid;
      height: 50px;
      width: 50px;
      border-radius: 10%;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .comment_text {
      padding: 5px;
      min-height: 55px;
      color: $color-text;
    }

    .options_box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      svg {
        height: 16px;
        width: 16px;
      }

      div {
        cursor: pointer;
        margin-right: 10px;
        font-size: 0.8em;
      }
    }
  }
}
