/**
 * External Assets/Resources
 **/
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');
$pizza-pic: url('https://static.pexels.com/photos/710916/pexels-photo-710916.jpeg');
$pasta-salad: url("https://static.pexels.com/photos/326278/pexels-photo-326278.jpeg");

/**
 * Custom Globals
 */

$color-primary: #DA5015;
$color-background: #FEF8F6;
$color-background-secondary: #ffd7bb;
$color-text: #280E04;
$color-input-border: #A1CFFF;
$Success: #7B9F43;
$Warning: #F88F0B;
$Danger: #F44F36;
$Link: #2630B3;
$font-family-header: 'Source Sans Pro', sans-serif;
$font-family-text: 'Raleway', sans-serif;
$H1: 2em;
$H2: 1.5em;
$H3: 1.2em;
$H4: 1.1em;

@mixin transition($props: all, $time: 0.6s, $curve: linear) {
  transition: $props $time $curve;
}


@mixin inputLabelOutlineAnimate() {
  textarea:focus,
  input:focus {
    outline: 0;
  }
  /* Question */

  input.question,
  textarea.question {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */

  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid $color-primary;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }

  input.question:focus + label,
  textarea.question:focus + label {
    width: 80%;
  }

  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }

  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
  }

  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    font-size: 22px;
    color: #333;
  }

  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -150px;
    font-size: 22px;
    color: #333;
  }

  input.question:valid + label,
  textarea.question:valid + label {
    border-color: $Success;
  }

  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  }

  input.question + label > span,
  textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }

  input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background: $color-background;
  }

  input[type="submit"]:active {
    background: $color-background;
  }

  input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
  }

  input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
  }

  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }

  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
}


/**
 * Overwrites and Settings
 */

h1, h2, h3, h4, .header {
  font-family: $font-family-header;
}

h1 {
  font-size: $H1;
}

h2 {
  font-size: $H2;
}

h3 {
  font-size: $H3;
}

h4 {
  font-size: $H4;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}

.container {
  background: $color-background;
}

/**
 * Modular/Component Styles
 */

@import 'components/reusable/search-bar/search-bar.style';
@import './components/landing/landing.style';
@import './components/sign-in/sign-in.style';
@import './components/comments/comments.style';
@import './components/food/food-details/food-details.style';
@import 'components/reusable/categories/category.style';
@import './components/reusable/voting/voting.style';
