/**
 * External Assets/Resources
 **/
@import "./../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro:300, 400, 700');
$pizza-pic: url('https://static.pexels.com/photos/710916/pexels-photo-710916.jpeg');
$pasta-salad: url("https://static.pexels.com/photos/326278/pexels-photo-326278.jpeg");

/**
 * Custom Globals
*/

$color-primary: #DA5015;
$color-background: #FEF8F6;
$color-background-secondary: #ffd7bb;
$color-text: #280E04;
$color-input-border: #A1CFFF;
$color-dark-background: #0F1D25;
$Success: #7B9F43;
$Warning: #F88F0B;
$Danger: #F44F36;
$Link: #2630B3;
$font-family-header: 'Source Sans Pro', sans-serif;
$font-family-text: 'Raleway', sans-serif;
$H1: 2em;
$H2: 1.5em;
$H3: 1.2em;
$H4: 1.1em;

$navbar-height: 36px;

@mixin transition($props: all, $time: 0.6s, $curve: linear) {
  transition: $props $time $curve;
}

@mixin btn-overwrite($background, $txt-color, $txt-color-hover) {
  background-color: $background;
  border-color: $background;
  color:$txt-color;

  &:hover, &:active, &:focus {
    background-color: darken($background, 15%) !important;
    border-color: darken($background, 15%) !important;
    color: $txt-color-hover !important;
  }

  &:focus {
    box-shadow:0 0 4px darken($background, 25%) !important;
  }
}

@mixin flexRow($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: row;
  align-items: center;
}

@mixin flexColumn($justify-content: center) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: column;
  align-items: center;
}

body {
  background: $color-dark-background;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.primary-layout {
  position: relative;
  z-index: 1;
  padding: 0;
}

/**
 * Overwrites and Settings
 */

h1, h2, h3, h4, .header {
  font-family: $font-family-header;
}

h1 {
  font-size: $H1;
}

h2 {
  font-size: $H2;
}

h3 {
  font-size: $H3;
}

h4 {
  font-size: $H4;
}

.btn-primary {
  @include btn-overwrite($color-primary,$color-background,$color-background)
}

.btn-success {
  @include btn-overwrite($Success,$color-background,$color-background)
}

.btn-warning {
  @include btn-overwrite($Warning,$color-text,$color-background)
}

.btn-danger {
  @include btn-overwrite($Danger,$color-background,$color-background)
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}

.container {
  background: $color-background;
}

input {
  outline: none;
  text-align: center;
  padding: 5px;
  background: rgba(254, 248, 256, 0.95);
  border: $color-primary solid 1px;
  border-radius: 5px;
  margin-bottom: 5px;
}

/**
 * Modular/Component Styles
 */

@import './components/reusable/search/search-bar/search-bar.style';
@import './components/landing/landing.style';
@import './components/sign-in/sign-in.style';
@import './components/food/food-details/food-details.style';
@import './components/reusable/categories/category.style';
@import './components/reusable/voting/voting.style';
@import './components/dashboard/dashboard.style';
@import './components/reusable/modal/modal.style';
@import './components/sign-in/password-reset/password-reset.style';
@import './components/reusable/loading/loading.style';
@import './components/reusable/search/search.style';
@import './components/main/navbar/navbar.style';
@import './components/sign-in/sign-up/sign-up.style';
