/**
 * External Assets/Resources
 **/
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');
$pizza-pic: url('https://static.pexels.com/photos/710916/pexels-photo-710916.jpeg');
$pasta-salad: url("https://static.pexels.com/photos/326278/pexels-photo-326278.jpeg");

/**
 * Custom Globals
 */

$color-primary: #DA5015;
$color-background: #FEF8F6;
$color-background-secondary: #ffd7bb;
$color-text: #280E04;
$color-input-border: #A1CFFF;
$Success: #7B9F43;
$Warning: #F88F0B;
$Danger: #F44F36;
$Link: #2630B3;
$font-family-header: 'Source Sans Pro', sans-serif;
$font-family-text: 'Raleway', sans-serif;
$H1: 2em;
$H2: 1.5em;
$H3: 1.2em;
$H4: 1.1em;

@mixin transition($props: all, $time: 0.6s, $curve: linear) {
  transition: $props $time $curve;
}


/**
 * Overwrites and Settings
 */

h1, h2, h3, h4, .header {
  font-family: $font-family-header;
}

h1 {
  font-size: $H1;
}

h2 {
  font-size: $H2;
}

h3 {
  font-size: $H3;
}

h4 {
  font-size: $H4;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
}

.container {
  background: $color-background;
}

/**
 * Modular/Component Styles
 */

@import 'components/reusable/search-bar/search-bar.style';
@import './components/landing/landing.style';
@import './components/sign-in/sign-in.style';
@import './components/comments/comments.style';
@import './components/food/food-details/food-details.style';
@import 'components/reusable/categories/category.style';
@import './components/reusable/voting/voting.style';
